
<h1>WELLCOME TO MULTISTORES</h1><br><br><br>

<div align=center><h1><%= link_to 'STORES', stores_path, style: "color: red" %><br><br>


<%= link_to 'PRODUCTS', products_path, style: "color: blue" %><br><br>
<%= link_to 'USERS', new_user_path, style: "color: blue" %><br><br>
